region              = "us-east-1"
subnet_ids          = ["subnet-xxx", "subnet-xxx"]
security_group_ids  = ["sg-xxx"]

# Notice that the email recipients JSON must have quotes escaped, unlike subnet_ids and security_group_ids
EMAIL_RECIPIENT_JSON = "[\"name@ashevillenc.gov\"]"

prog_name = "my_lambda_name"
