html
  body
    ul
      each type, email in topics
        li= 'lolwut' + type + ': ' + email
    ul
      each type, email in {'type': 'EMAIL', 'email': 'email@addr.com', 'permit_num': '19-02PZ'}
        li= 'lolwut' + type + ': ' + email

 
